<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="source.open.akash.kotlinexample">

    <dist:module dist:instant="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Widgets.MultiAutoCompleteTextView.MultiAutoCompletetextView">
        </activity>
        <activity android:name=".Widgets.AutoCompletetextView.AutoCompleteTextView">
        </activity>
        <activity android:name=".Widgets.ProgressBar.ProgressActivity">
        </activity>
        <activity android:name=".Widgets.Switch.SwitchActivity">
        </activity>
        <activity android:name=".Widgets.Spinner.SpinnerActivity">
        </activity>
        <activity android:name=".Widgets.RatingBar.RatingBar">
        </activity>
        <activity android:name=".Widgets.CheckBox.CheckBox">
        </activity>
        <activity android:name=".Widgets.RadioButton.RadioButton">
        </activity>
        <activity android:name=".Widgets.Button.Button">
        </activity>
        <activity android:name=".Widgets.Widgets">
        </activity>
        <activity android:name=".Widgets.EditText.EditText">
        </activity>
        <activity android:name=".Widgets.TextView.TextView">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>